@media screen and (min-width:768px){
    *{
        padding: 0;
        margin: 0;
    }
    html{
        font-size: 62.5%;
    }
    body{
        background-color: #f0f0f0;
    }
    .heading{
        position: relative;
        width: 100vw;
        height: 88px;
        background-color: #29BDE0;
    }
    .btnBack{
        width: 24px;
        height: 44px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto auto auto 10px;
    }
    .topText{
        font-size: 3rem;
        width: 88vw;
        max-width: 800px;
        height: 85px;
        background-color: white;
        margin: 30px auto 0 auto;
        text-align: center;
        line-height: 85px;
    }
    .characterSet{
        width: 88vw;
        max-width: 800px;
        height: 300px;
        background-color: white;
        margin: 30px auto 0 auto;
        box-shadow: 2px 3px 6px 2px gray;
        display: flex;
    }
    .killer,.civilian{
        width: 50%;
        height: 100px;
        display: flex;
        align-items: center;
        /* background-color: gray; */
        flex-grow: 0;
    }
    .killerImage{
        width: 30px;
        height: 48px;
        padding: 20px;
    }
    .civilianImage{
        width: 64px;
        height: 48px;
        padding: 20px;
    }
    .numKiller,.numCivilian{
        padding:10px;
        font-size: 2rem;
    }
    .keep{
        width: 88vw;
        max-width: 800px;
        height: 200px;
        background-color: white;
        margin: 30px auto 0 auto;
    }
    .settingBox{
        position: relative;
        width: 88vw;
        max-width: 800px;
        height: 200px;
        background-color: white;
        margin: 30px auto 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .normalSet{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .settingBox-text{
        font-size: 2.8rem;
        padding: 20px;
    }
    .numOfPlayer input{
        width: 30px;
        height: 28px;
        font-size: 2rem;
    }
    .comment{
        font-size: 2rem;
        color: #fab344;
        padding: 20px;
    }
    .btnStart{
        text-align: center;
        margin: 30px auto 0 auto;
    }
    .btnStart input{
        width: 88vw;
        max-width: 800px;
        height: 88px;
        background-color: #fab344;
        font-size: 4rem;
        color: white;
    }
    /* #hint{
        position: absolute;
        font-size: 3rem;
        color: #fab344;   
        text-align: center; 
        bottom: 30px;
        visibility: hidden;
    } */
}
@media screen and (max-width:767px){
    *{
        padding: 0;
        margin: 0;
    }
    html{
        font-size: 62.5%;
    }
    body{
        background-color: #f0f0f0;
    }
    .heading{
        position: relative;
        width: 100vw;
        height: 60px;
        background-color: #29BDE0;
    }
    .btnBack{
        width: 16px;
        height: 30px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto auto auto 10px;
    }
    .btnBack img{
        width: 100%;
        height: 100%;
    }
    .topText{
        font-size: 2rem;
        width: 88vw;
        height: 60px;
        background-color: white;
        margin: 15px auto 0 auto;
        text-align: center;
        line-height: 60px;
    }
    .characterSet{
        width: 88vw;
        height: 150px;
        background-color: white;
        margin: 15px auto 0 auto;
        box-shadow: 1px 1px 4px 2px gray;
        display: flex;
    }
    .killer,.civilian{
        width: 50%;
        height: 60px;
        display: flex;
        align-items: center;
        /* background-color: gray; */
        flex-grow: 0;
    }
    .killerImage{
        width: 20px;
        height: 32px;
        padding: 10px;
    }
    .civilianImage{
        width: 48px;
        height: 32px;
        padding: 10px;
    }
    .numKiller,.numCivilian{
        padding:10px;
        font-size: 1rem;
    }
    .keep{
        width: 88vw;
        height: 80px;
        background-color: white;
        margin: 15px auto 0 auto;
    }
    .settingBox{
        position: relative;
        width: 88vw;
        height: 100px;
        background-color: white;
        margin: 15px auto 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .normalSet{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .settingBox-text{
        font-size: 1.5rem;
        padding: 10px;
    }
    .numOfPlayer input{
        width: 20px;
        height: 18px;
        font-size: 1.5rem;
    }
    .comment{
        font-size: 1.5rem;
        color: #fab344;
        padding: 10px;
    }

    .btnStart{
        text-align: center;
        margin: 15px auto 0 auto;
    }
    .btnStart input{
        width: 88vw;
        height: 58px;
        background-color: #fab344;
        font-size: 3rem;
        color: white;
    }
}
input[type=range]{
    -webkit-appearance: none;
    width: 40%;
    border-radius: 2px;
    background: -webkit-linear-gradient(#fab344,#fab344) no-repeat;
    background-size: 0% 100%;
}
input::-webkit-slider-runnable-track{
    height: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 1px #fab344, inset 0 .125em .125em #0d1112;
}
input:focus{
    outline: none;
}
input::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 15px;
    width: 25px;
    margin-top: -2.5px;
    background: white;
    border-radius: 5px;
    border: 0.125rem solid #fab344;
    box-shadow: 0 0.1rem 0.1rem #3b4547;
}
.slider{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.box18{
    width: 18px;
    height: 18px;
    position: relative;
    border: 1px solid #fab344;
    margin: 0 10px;
}
.minusImg{
    width: 18px;
    height: 4px;
    position: absolute;
    top: 7px;
    left: 0;
}
.plusImg{
    width: 4px;
    height: 18px;
    position: absolute;
    top: 0;
    left: 7px;
}