html{
    font-size: 10px;
    font-family: 'Indie Flower', cursive;/*Google*/
    background-color:white;
}
h1{
    font-size: 60px;
    text-align: center;/*中心对齐*/
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;/*水平，垂直，阴影模糊的距离，颜色*/
}
p,li{
    font-size: 24px;
    line-height: 1;/*行高*/
    letter-spacing: 1px;/*间距*/
    width: auto;
    padding: 10px;
    border: 1px;
    margin: 10px;
    color: darkblue;
    text-shadow:black;
}
a{
    font-size: 20px;
}
body{
    width: 600px;
    margin: 0 auto;/*0--上下， auto左右*/
    padding: 0 20px 20px 20px;/*上右下左*/
    border:5px solid black;    
}
img{
    display: block;/*改成块级元素*/
    margin: 0 auto;
}
button{
    display: block;/*改成块级元素*/
    margin: 0 auto;
}